.image-container {
  min-height: 30rem;
  column-count: 4; 
  column-gap: 15px; 
  padding: 30px;
}
.noMatch{
border-radius: 20px;
margin-top: 1rem;
height: 20rem;

}
.item {
  break-inside: avoid; 
  margin-bottom: 15px; 
  background-color: #000000;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.itemImage {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 2px solid #ffffff;
}

.itemTitle {
  margin: 10px;
  font-size: clamp(0.8rem, 1vw, 1rem);
  line-height: 1.4;
  color: #ccc;
}
.allArtworks{
  min-height: 100vh;
  margin-bottom: 2rem;
  margin-top: -3rem;
}
.pagination-buttons{
  display: flex;
  flex-direction: row;
  gap:2rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .image-container {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .image-container {
    overflow-x: hidden;
    min-height: 36rem;
    column-count: 2; 
  }
}

@media (max-width: 480px) {
  .image-container {
    column-count: 1; 
  }
}
