@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.singleArtworkCont {
    animation: fadeIn 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.frame {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    gap: 2rem;
}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  /* p{
   text-justify: distribute;
  } */
}
.specs-cont{
    margin-top: 20%;
    
}
.artworkInfo {
    border-radius: 20px;
    box-shadow: 0px 20px 30px -10px rgb(0, 0, 0);
    background-color: rgba(219, 211, 227, 0.774);
    max-width: 90%;
    margin: 1.5rem auto;
    animation: fadeIn 1s ease-in-out;
}

.artworkInfo p {
    padding: 2rem;
}

.artworkInfo h1 {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    text-align: center;
}

.watching {
    border-radius: 20px;
    height: 25rem;
    margin: 2rem auto;
    display: block;
}

.singleArtwork {
    max-width: 70%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}




@media (max-width: 768px) {
    .frame {
        flex-direction: column;
        text-align: center; 
        padding: 1rem;
    }

    .singleArtwork {
        max-width: 90%; 
    }

    .specs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
    }

    .artworkInfo h1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .artworkInfo p {
        padding: 1rem;
    }
.watching{
    height: 13rem;

}


}