#root {

  text-align: center;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h1,
  h2,
  h3 {
    font-weight: normal;
  }
}