
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ededed;
}
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content{
  flex:1;
}

a{
  text-decoration: none; 
  color: inherit; 
}
.boxshadow {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background: white;
	border: 2px solid black;
	box-shadow: 5px 5px 0 black,
		-5px -5px 0 black,
		-5px 5px 0 black,
		5px -5px 0 black;
	transition: 500ms ease-in-out;
}

.boxshadow:hover {
	box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.boxshadow:focus {
	outline: none;
}